--extra-index-url https://download.pytorch.org/whl/cu128

torch>=2.7
torchvision
h5py
pandas
gradio
bpy==5.1.2
numpy>=2.2
pydantic_settings
fake-bpy-module-latest
opencv-python
pillow
safetensors
tqdm
scipy
matplotlib
iopath
prettytable
termcolor
accelerate
rich
transformers
timm
json-tricks
